.vis-header-container {
  background: url("../../assets/visualyzer-main-background.png");
  height: 120px;
  max-height: 120px;

  * {
    color: #fff !important;
  }

  h1 {
    padding: 40px !important;
  }
}
