.vis-header-container {
  background: url("../../assets/visualyzer-main-background.png");
  min-height: 200px;
  max-height: 200px;
  box-shadow: none;
  margin-bottom: 1em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;

  * {
    color: #fff !important;
  }

  h1 {
    background-color: rgba(44, 62, 80, 0.6);
    padding: 30px 20px !important;
    transition: box-shadow 0.9s ease, padding 0.5s ease;
  }
}
