.vis-header-container {
  background: url("../../assets/visualyzer-main-background.png");
  height: 120px;
  max-height: 120px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  h1 {
    padding: 40px !important;
    color: #fff !important;
  }
}
